<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sticky Header Example</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<header class="header">
    <div class="memberContent">
        <a class="loin" href="/join">join</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="login" href="/login">login</a>
    </div>

    <div class="content">
        <a class="music" href="/music">music</a>
        <a class="fashion" href="/fashion">fashion</a>
        <a class="movie" href="/movie">movie</a>
    </div>
</header>
</body>
</html>